@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Vogue";
  src: url("/fonts/vogue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-vogue {
  font-family: "Vogue", serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0.9;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 0.9;
  }
}

.animate-floatUp {
  animation: floatUp 10s linear infinite;
}

/* Hide scrollbars globally */
body,
html {
  overflow: hidden;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out both;
}
